@import url(style_user_padrao.css);

.mensagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: var(--cinza1);
    font-family: var(--fonte1);
    border: 2px solid var(--verde1);
    background-color: #7373733d;
    width: 700px;
    padding: 15px;
    margin-bottom: 20px;
}

.motivo_msg{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.infor_msg{
    font-size: 0.9em;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
}

.botao_msg{
    text-decoration: none;
    color: var(--cinza1);
    padding: 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: rgb(19, 114, 35);
}

.delete_msg{
    background-color: rgb(166, 29, 29);
}

.linha_msg{
    border: none;
    background-color: var(--verde1);
    height: 2px;
}

.opcoes_mensagens{
    padding: 10px;
}

.botao_msg:hover{
    background-color: rgb(22, 140, 41);
}

.delete_msg:hover{
    background-color: rgb(183, 46, 46)
}

.bototes_notificacao_lida{
    display: flex;
    margin-left: 65%;
}

.bototes_notificacao{
    margin-left: 79%;
}