{% extends 'bases_templates/base/base_perfil.html' %}
{% load static %}
{% block content %}

        <div class="opcoes_user_adm">
            <hr class="linha_opcoes_user">
            <div class="Lista_opcoes_adm">
                <div class="opcoes">
                    <a href="{% url 'perfil_admin' %}" class="opcao">Informações</a>
                    <a href="{% url 'cad_instituicao' %}" class="opcao">Instituições</a>
                    <a href="{% url 'cad_curso' %}" class="opcao">Cursos</a>
                    <a href="{% url 'cad_campus' %}" class="opcao">Campus</a>
                    <a href="{% url 'cad_categoria' %}" class="opcao selecionado">Categorias</a>
                    <a href="{% url 'cad_tipo' %}" class="opcao">Tipos</a>
                    <a href="#" class="opcao opcao_cad_perfil">Bibliotecário</a>
                    <a href="{% url 'cadastro_admin' %}" class="opcao opcao_cad_perfil">ADMIN</a>
                </div>
            </div>
        </div>

        <form class="form_cad" action="{% url 'cad_categoria' %}" method="POST">

            {% csrf_token %}

            <h1 class="titulo_form">Cadastrar Categoria</h1>

            <div class="inputs_cad">
                {% for field in formulario %}
                <div class="div_input">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>

            <div class="botoes_form">
                <button type="submit" class="botao_cad" onclick="return confirmar()">Cadastrar</button>
                <button type="reset" class="botao_can">Cancelar</button>
            </div>
        </form>

        <div class="consultas_ob">
            <h1 class="titulo_consulta_ob">Categorias</h1>
            <form class="busca busca_consulta_ob">
                <input type="search" class="input_busca input_busca_consulta" placeholder="   Digite o nome de uma Categoria">
                <button type="submit" class="botao_busca"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <table class="tablela_ob">
            <thead class="cabecalho_tabela">
                <th class="nome_atributo">ID</th>
                <th class="nome_atributo">Nome</th>
                <th class="nome_atributo">Descrição</th>
                <th class="nome_atributo">ADMIN</th>
                <th class="nome_atributo">Editar</th>
                <th class="nome_atributo">Deletar</th>
            </thead>
            <tbody class="infor_tabela">

        <!-- tabela de categoria -->
                {% if categoria_tab %}

                {% for i in categoria_tab %}
                <tr>
                    <td class="atributo">{{ i.id }}</td>
                    <td class="atributo">{{ i.nome_categoria }}</td>
                    <td class="atributo">{{ i.descricao_categoria }}</td>
                    {% if i.criador %}
                        <td class="atributo">{{ i.criador.first_name }}</td>
                    {% else %}
                        <td class="atributo">Usúario Deletado</td>
                    {% endif %}
                    <td class="atributo"><a href="{% url 'editar_categoria' i.id %}" class="funcao_tabela"> <i class="bi bi-pencil-square"></i> </a></td>
                    <td class="atributo"><a href="{% url 'deletar_categoria' i.id %}" class="funcao_tabela" onclick="return confirmar()" onclick="return deletarTexto()"> <i class="bi bi-trash"></i> </a></td>
                </tr>
                {% endfor %}

                {% else %}
                {% endif %}

        </table>

    </main>


    {% include 'bases_templates/partials/footer_pag.html' %}

    <script src="{% static '/scripts.js/app.js' %}"> </script>

{% endblock %}