{% extends 'bases_templates/base/base_perfil.html' %}
{% load static %}
{% block content %}

        <div class="opcoes_user_adm">
            <hr class="linha_opcoes_user">
            <div class="Lista_opcoes_adm">
                <div class="opcoes">
                    <a href="{% url 'perfil_admin' %}" class="opcao">Informações</a>
                    <a href="{% url 'cad_instituicao' %}" class="opcao">Instituições</a>
                    <a href="#" class="opcao">Cursos</a>
                    <a href="#" class="opcao">Campus</a>
                    <a href="#" class="opcao">Categorias</a>
                    <a href="#" class="opcao">Tipos</a>
                    <a href="#" class="opcao opcao_cad_perfil">Bibliotecário</a>
                    <a href="{% url 'cadastro_admin' %}" class="opcao opcao_cad_perfil">ADMIN</a>
                </div>
            </div>
        </div>

        <form class="form_cad" action="{% url 'editar_user_admin' id %}" method="POST">

            {% csrf_token %}

            <h1 class="titulo_form">Editar ADMIN</h1>
            <!-- Formulario de editar usuario admin -->
            <div class="inputs_cad">
                {% for field in formulario_edit_admin  %}
                <div class="div_input">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>

            <div class="botoes_form">
                <button type="submit" class="botao_cad" onclick="return confirmar()">Salvar</button>
                <a href="{% url 'cadastro_admin' %}" class="botao_can">Cancelar</a>
            </div>
        </form>

    </main>

    {% include 'bases_templates/partials/footer_pag.html' %}

    <script src="{% static '/scripts.js/app.js' %}"> </script>

{% endblock %}