{% extends 'bases_templates/base/base_perfil.html' %}
{% load static %}
{% block content %}

        <div class="opcoes_user_adm">
            <hr class="linha_opcoes_user">
            <div class="Lista_opcoes_adm">
                <div class="opcoes">
                    <a href="{% url 'informacoes_bibliotecario' %}" class="opcao selecionado">Informações</a>
                    <a href="{% url 'cad_professor' %}" class="opcao">Professor</a>
                    <a href="{% url 'cad_aluno' %}" class="opcao">Aluno</a>
                    <a href="{% url 'conteudos_cai_bibliotecario' %}" class="opcao">C. Academicos</a>
                    <a href="{% url 'conteudos_ce_bibliotecario' %}" class="opcao">C. Externo</a>
                    <a href="#" class="opcao opcao_cad_perfil">Solicitações</a>
            </div>
        </div>

        <form class="form_cad">

            <h1 class="titulo_form">Informações Gerais</h1>

            <div class="botoes_form">
                
            </div>
        </form>

    </main>


    {% include 'bases_templates/partials/footer_pag.html' %}

    <script src="{% static '/scripts.js/app.js' %}"> </script>

{% endblock %}