{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF_Lib</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static '/styles/style_filtros.css' %}">
</head>

<body class="body_index">
    
    {% include 'bases_templates/partials/cabecalho.html' %}

    <main class="conteudo_filtros">
        <h1 class="titulo_pag_caixa">Cursos</h1>
        <div class="infor_filtro">
            <h1 class="titulo_filtro">{{ curso_id.nome_curso }}</h1>
            <p class="descricao_filtro"><strong class="desc">Descrição:</strong>  {{ curso_id.descricao_curso }}</p>
        </div>

        <div class="opcoes_filtros">
            {% for i in cursos %}
                {% if i.id == curso_id.id %}
                    <a href="{% url 'filtro_cursos' i.id %}" class="opcao selecionado">{{ i.nome_curso }}</a>
                {% else %}
                    <a href="{% url 'filtro_cursos' i.id %}" class="opcao">{{ i.nome_curso }}</a>
                {% endif %}
            {% endfor %}

        </div>

        <hr class="linha_categoria">

        <div class="opcoes_sub_filtros">
            <h2 class="titulo_ordem">Ordenados por:</h2>
            <a href="#" class="ordem_filtros ordem_selecionada">Favoritos</a>
            <a href="#" class="ordem_filtros">Mais recentes</a>
            <a href="#" class="ordem_filtros">Mais antigos</a>
            <a href="#" class="ordem_filtros">A/Z</a>
            <a href="#" class="ordem_filtros">Z/A</a>
        </div>

        <div class="lista_conteudo">
            <div href="#" class="card">
                <div>
                    <img src="{% static '/styles/imagens/tecnologia-da-informacao-890x500-1-1.jpg' %}" class="img_card">
                </div>
                <div class="base_card">
                    <a href="#" class="titulo_card">Servidores e Microchips</a> 
                    <div class="infor_card">  
                        <h2 class="inst_card">IFTO</h2>
                        <button class="descricao_card">Descrição...</button>
                    </div>
                </div>
                <div class="detalhes_card">
                    <h2 class="tipo_card"><strong class="card_strong">Tipo</strong> Projeto de Pesquisa</h2>
                    <h3 class="tipo_card"><strong class="card_strong">Postado em</strong> 25/04/2025</h3>
                    <p class="paragrafo_card"><strong class="card_strong">Descrição</strong> A expressão "servidores e microchips" não tem um significado direto ou específico no contexto que você pode estar procurando. No entanto, podemos analisar separadamente cada termo e como eles podem estar relacionados:</p>
                    <button class="retornar_card">Voltar</button>
                </div>
            </div>
        </div>

        <div class="mais_conteudos" style="margin-bottom: 40px;">
            <button class="mais_conteudos_botao">< Voltar</button>
            <h1 style="font-weight: 400;">1 / 100</h1>
            <button class="mais_conteudos_botao">Proximo ></button>
        </div> 
    </main>

    {% include 'bases_templates/partials/footer_pag.html' %}

    <script src="{% static '/scripts.js/app.js' %}"> </script>
    
</body>
</html>