{% extends 'bases_templates/base/base_consultas.html' %}
{% load static %}
{% block content %}

        <h1 class="titulo_pag_caixa">Tipos</h1>
        <div class="infor_filtro">
            <h1 class="titulo_filtro">{{ tipo_id.nome_tipo }}</h1>
            <p class="descricao_filtro"><strong class="desc">Descrição:</strong>  {{ tipo_id.descricao_tipo }}</p>
        </div>

        <div class="opcoes_filtros">
            {% for i in tipos %}
                {% if i.id == tipo_id.id %}
                    <a href="{% url 'filtro_tipos' i.id %}" class="opcao selecionado">{{ i.nome_tipo }}</a>
                {% else %}
                    <a href="{% url 'filtro_tipos' i.id %}" class="opcao">{{ i.nome_tipo }}</a>
                {% endif %}
            {% endfor %}

        </div>

        <hr class="linha_categoria">

        <div class="opcoes_sub_filtros">
            <a href="?ordenados_por=-qtd_favoritos" class="ordem_filtros {% if ordenados_por == '-qtd_favoritos' %}ordem_selecionada{% endif %}">Favoritos</a>
            <a href="?ordenados_por=-id" class="ordem_filtros {% if ordenados_por == '-id' %}ordem_selecionada{% endif %}">Mais recentes</a>
            <a href="?ordenados_por=id" class="ordem_filtros {% if ordenados_por == 'id' %}ordem_selecionada{% endif %}">Mais antigos</a>
            <a href="?ordenados_por=titulo" class="ordem_filtros {% if ordenados_por == 'titulo' %}ordem_selecionada{% endif %}">A/Z</a>
            <a href="?ordenados_por=-titulo" class="ordem_filtros {% if ordenados_por == '-titulo' %}ordem_selecionada{% endif %}">Z/A</a>
        </div>

        {% if page.object_list %}
        <div class="lista_conteudo">
        {% for i in page.object_list %}
            <div class="card">
                {% if i.img_capa_conteudo %}
                    <div>
                        <img src="{{ i.img_capa_conteudo.url }}" class="img_card">
                    </div>
                {% else %}
                    <div>
                        <img src="{% static '/styles/imagens/img_not_found_lib.png' %}" class="img_card">
                    </div>
                {% endif %}
                <div class="base_card">
                    {% if i.validado %}
                        <a href="{% url 'vizualizar_cai' i.id %}" class="titulo_card">{{ i.titulo|slice:":35" }}{% if i.titulo|length > 35 %}...{% endif %}</a>
                    {% endif %}
                        <div class="infor_card">
                        <h2 class="inst_card">{{ i.instituicao_conteudo }}</h2>
                        <button class="descricao_card">Descrição...</button>
                    </div>
                </div>
                <div class="detalhes_card">
                    <h2 class="tipo_card"><strong class="card_strong">Tipo</strong> {{ i.tipos_conteudo }}</h2>
                    <h3 class="tipo_card"><strong class="card_strong">Postado em</strong> {{ i.data_envio|date:'d/m/Y' }}</h3>
                    <p class="paragrafo_card"><strong class="card_strong">Descrição</strong>{{ i.descricao_conteudo|slice:":260" }}{% if i.descricao_conteudo|length > 260 %}...{% endif %}</p>
                    <button class="retornar_card">Voltar</button>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <h1 class="pesquisa not_cont">Nenhum conteúdo disponivel</h1>
        {% endif %}

        <div class="mais_conteudos" style="margin-bottom: 40px;">
            {% if page.has_previous %}
                <a href="{% url 'filtro_tipos' tipo_id.id %}?page={{page.previous_page_number}}&ordenados_por={{ ordenados_por }}" class="mais_conteudos_botao">< Voltar</a>
            {% endif %}
            <h1 style="font-weight: 400;">{{ page.number }} / {{ page.paginator.num_pages }}</h1>
            {% if page.has_next %}
                <a href="{% url 'filtro_tipos' tipo_id.id %}?page={{page.next_page_number}}&ordenados_por={{ ordenados_por }}" class="mais_conteudos_botao">Proximo ></a>
            {% endif %}
        </div> 

{% endblock %}