{% load static %}

<header class="cabecalho">
        
        <input type="checkbox" id="menu" class="botao_menu_lateral">
        <label class="menu_lateral" for="menu">
            <i class="bi bi-list"></i>
        </label>
        <nav  class="lista_menu_lateral">
            <label class="menu_lateral_retornar" for="menu">
                    
            </label>
            <ul>
                <li class="opcao_menu_lateral">
                    <h1 class="filter_conteudo">Filtros<i class="bi bi-funnel"></i></h1>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Categorias <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/categorias.html" class="filtro_menu">Tecnologia</a></li>
                        <li><a href="#" class="filtro_menu">Saúde</a></li>
                        <li><a href="#" class="filtro_menu">Agro</a></li>
                        <li><a href="#" class="filtro_menu">Educação</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Tipos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/tipos.html" class="filtro_menu">Artigo Cientifíco</a></li>
                        <li><a href="#" class="filtro_menu">Projeto de Pesquisa</a></li>
                        <li><a href="#" class="filtro_menu">Monográfia</a></li>
                        <li><a href="#" class="filtro_menu">Conteúdo Externo</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Instituições <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/instituicoes.html" class="filtro_menu">IFTO</a></li>
                        <li><a href="#" class="filtro_menu">IFPA</a></li>
                        <li><a href="#" class="filtro_menu">IFGO</a></li>
                        <li><a href="#" class="filtro_menu">IFSC</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Campus <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/campus.html" class="filtro_menu">Campus 1 Colinas TO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Araguaina TO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Goiania GO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Belém PA</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Cursos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/cursos.html" class="filtro_menu">ADS</a></li>
                        <li><a href="#" class="filtro_menu">Pedagogia</a></li>
                        <li><a href="#" class="filtro_menu">Agronomia</a></li>
                        <li><a href="#" class="filtro_menu">Direito</a></li>
                    </ul>
                </li>
            </ul>
        </nav>  
        
        <a href="{% url 'home' %}" class="botao_home">
            <img src="{% static '/styles/icones/Logo IF_Lib.png' %}" class="img_home">
        </a>

        <form class="busca">
            <input type="search" class="input_busca" placeholder="   Oque você procura?">
            <a href="/templates/pesquisa/pesquisa.html" class="botao_busca"><i class="bi bi-search"></i></a>
        </form>


        <ul class="botoes_cabecalho">

        <!-- se o usuario for visitante -->
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-person"></i></span>
                    <span class="texto">Login</span>
                </li>
            </a>
        {% endif %}

        <!-- se o usuario estiver logado -->
        {% if user.is_authenticated %}
            <a href="/templates/notificacoes/notificacao.html">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-envelope"></i></span>
                    <span class="texto">Notificações</span>
                </li>
            </a>

            <a href="{% url 'perfil_admin' %}">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-person"></i></span>
                    <span class="texto">Meu Perfil</span>
                </li>
            </a>
        {% endif %}
        
        </ul>
    </header>