{% load static %}

<header class="cabecalho">
        
        <input type="checkbox" id="menu" class="botao_menu_lateral">
        <label class="menu_lateral" for="menu">
            <i class="bi bi-list"></i>
        </label>
        <nav  class="lista_menu_lateral">
            <label class="menu_lateral_retornar" for="menu">
                    
            </label>
            <ul>
                <li class="opcao_menu_lateral">
                    <h1 class="filter_conteudo">Filtros<i class="bi bi-funnel"></i></h1>
                </li>

                <!-- menu lateral categorias -->
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Categorias <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <!-- se houver alguma categoria -->
                        {% if categorias %}
                        {% for i in categorias %}
                            <li><a href="{% url 'filtro_categoria' i.id %}" class="filtro_menu">{{ i.nome_categoria }}</a></li>
                        {% endfor %}
                        <!-- se não houver nenhuma -->
                        {% else %}
                            <h1 class="filtro_menu" > Nenhuma categoria disponivel</h1>
                        {% endif %}
                    </ul>
                </li>

                <!-- menu lateral tipos -->
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Tipos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <!-- se houver algum tipo -->
                        {% if tipos %}
                        {% for i in tipos %}
                            <li><a href="{% url 'filtro_tipos' i.id %}" class="filtro_menu">{{ i.nome_tipo }}</a></li>
                        {% endfor %}
                        <!-- se não houver nenhum -->
                        {% else %}
                            <h1 class="filtro_menu" > Nenhum Tipo disponivel</h1>
                        {% endif %}
                    </ul>
                </li>
                
                <!-- menu lateral instituicoes -->
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Instituições <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <!-- se houver alguma instituicao -->
                        {% if instituicoes %}
                        {% for i in instituicoes %}
                            <li><a href="{% url 'filtro_instituicao' i.id %}" class="filtro_menu">{{ i.sigla }}</a></li>
                        {% endfor %}
                        <!-- se não houver nenhuma -->
                        {% else %}
                            <h1 class="filtro_menu" > Nenhuma Instituição disponivel</h1>
                        {% endif %}
                    </ul>
                </li>
                
                <!-- menu lateral campus -->
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Campus <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <!-- se houver algum campus -->
                        {% if campus %}
                        {% for i in campus %}
                            <li><a href="{% url 'filtro_campus' i.id %}" class="filtro_menu">{{ i.nome_campus }}</a></li>
                        {% endfor %}
                        <!-- se não houver nenhum -->
                        {% else %}
                            <h1 class="filtro_menu" > Nenhum Campus disponivel</h1>
                        {% endif %}
                    </ul>
                </li>
                
                <!-- menu lateral cursos -->
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Cursos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <!-- se houver algum curso -->
                        {% if cursos %}
                        {% for i in cursos %}
                            <li><a href="{% url 'filtro_cursos' i.id %}" class="filtro_menu">{{ i.nome_curso }}</a></li>
                        {% endfor %}
                        <!-- se não houver nenhum -->
                        {% else %}
                            <h1 class="filtro_menu" > Nenhum Curso disponivel</h1>
                        {% endif %}
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="{% url 'filtro_externos' %}" class="link_menu_lateral">Conteúdos Externos</a></li>
            </ul>
        </nav>  
        
        <a href="{% url 'home' %}" class="botao_home">
            <img src="{% static '/styles/icones/Logo IF_Lib.png' %}" class="img_home">
        </a>

        <form class="busca" action="{% url 'busca_principal' %}">
            <input type="search" class="input_busca" placeholder="   Oque você procura?" name="busca_principal_name">
            <button class="botao_busca" type="submit"><i class="bi bi-search"></i></button>
        </form>


        <ul class="botoes_cabecalho">

        <!-- se o usuario for visitante -->
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-person"></i></span>
                    <span class="texto">Login</span>
                </li>
            </a>
        {% endif %}

        <!-- caso o usuario seja um Professor ou aluno -->
        {% if user_professor and user_professor.tipo_user == 'professor' or user_aluno and user_aluno.tipo_user == 'aluno' %}
            <a href="{% url 'todos_favorito' %}">
                <li class="botao_cabecalho botao_ver" style="--cor1: #5e0000; --cor2: #d40000; border-color: #af0a0a;">
                    <span class="icones icone_fav"><i class="bi bi-star"></i></span>
                    <span class="texto">Favoritos</span>
                </li>
            </a>
        {% endif %}
        
        <!-- se o usuario estiver logado -->
        {% if user.is_authenticated %}
            <a href="{% url 'lista_notificacao' %}">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-envelope"></i></span>
                    <span class="texto">Notificações</span>
                </li>
            </a>

            <!-- caso o usuario seja um super user (ADMIN) -->
            {% if user.is_superuser %}
                <a href="{% url 'perfil_admin' %}">
                    <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                        <span class="icones"><i class="bi bi-person"></i></span>
                        <span class="texto">Meu Perfil</span>
                    </li>
                </a>
            {% endif %}

            <!-- caso o usuario seja um Bibliotecario -->
            {% if user_bibliotecario and user_bibliotecario.tipo_user == 'bibliotecario' %}
                <a href="{% url 'informacoes_bibliotecario' %}">
                    <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                        <span class="icones"><i class="bi bi-person"></i></span>
                        <span class="texto">Meu Perfil</span>
                    </li>
                </a>
            {% endif %}

            <!-- caso o usuario seja um Professor -->
            {% if user_professor and user_professor.tipo_user == 'professor' %}
                <a href="{% url 'perfil_professor' %}">
                    <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                        <span class="icones"><i class="bi bi-person"></i></span>
                        <span class="texto">Meu Perfil</span>
                    </li>
                </a>
            {% endif %}

            <!-- caso o usuario seja um Aluno -->
            {% if user_aluno and user_aluno.tipo_user == 'aluno' %}
                <a href="{% url 'perfil_aluno' %}">
                    <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                        <span class="icones"><i class="bi bi-person"></i></span>
                        <span class="texto">Meu Perfil</span>
                    </li>
                </a>
            {% endif %}
            
        {% endif %}
        
        </ul>
    </header>