{% load static %}
    
    <footer class="rodape_pag">
        <img src="{% static '/styles/icones/Logo IF_Lib.png' %}" alt="logo IF_Lib" class="img_rodape_pag">
        <ul class="lista_rodape_pag">
            <li><a href="#" class="link_rodape link_pag">Contato</a></li>
            <li><a href="#" class="link_rodape link_pag">Sobre</a></li>
            <li><a href="#" class="link_rodape link_pag">Politicas de Privacidade</a></li>
            <li><a href="#" class="link_rodape link_pag">Mais informações</a></li>
        </ul>
    </footer>